.user-input-cntr {
  overflow: hidden;
}

label {
  display: block;
  padding: 8px 0;
}

.sequence-wrapper {
  width: 50%;
  float: left;
  padding: 12px;
}

.chars-left {
  margin-top: 8px;
  font-size: 12px;
}

.sequence-cntr {
  overflow: hidden;
}

.sequence-cntr .sequence-wrapper:first-child {
  padding-left: 0;
}

.sequence-cntr .sequence-wrapper:last-child {
  padding-right: 0;
}

.sequence-wrapper input {
  width: 100%;
  font-size: 30px;
  border-radius: 0px;
  padding: 4px 0;
}

.sequence-wrapper .mat-input-container {
  width: 100%
}

.sequence-wrapper .ui-inputtext:focus {
  box-shadow: none;
}

.align-wrapper {
  float: right;
  width: 300px;
  padding: 2px 0;
}

.align-wrapper button {
  width: 40%;
  margin: 0 5%;
  float: right;
}

.align-wrapper button:first-child {
  margin-right: 0;
} 

.more-options {
  padding: 0;
}

fieldset.more-options {
  margin: 0 0 20px 0;
  border: none;
  padding-bottom: 12px;
  margin-top: 16px;
}

.more-options legend {
  border: none;
}

.more-options .ui-fieldset-legend a {
  text-decoration: none;
  padding: 8px 0;
}

.option {
  float: left;
  padding-right: 50px;
}

.fieldset-inner {
  padding: 0 18px 0 18px;
}
