.user-input-cntr {
  overflow: hidden;
}

.sequence-wrapper {
  width: 50%;
  float: left;
  padding: 0 12px;
}

.chars-left {
  margin-top: 8px;
  font-size: 12px;
}

.sequence-cntr {
  overflow: hidden;
}

.tabs-inner .sequence-wrapper:first-child {
  padding-left: 0;
}

.tabs-inner .sequence-wrapper:last-child {
  padding-right: 0;
}

.sequence-wrapper input {
  width: 100%;
  font-size: 30px;
  border-radius: 0px;
  padding: 4px 0;
}

.sequence-wrapper .mat-input-container {
  width: 100%
}

.tabs-inner {
  min-height: 140px;
  overflow: hidden;
  padding: 12px 0;
}

.align-wrapper {
  float: right;
  width: 300px;
  padding: 2px 0;
}

.align-wrapper button {
  width: 40%;
  margin: 0 5%;
  float: right;
}

.align-wrapper button:first-child {
  margin-right: 0;
} 

.option {
  float: left;
  width: 20%;
  padding-top: 26px;
}
