.user-input-cntr {
  overflow: hidden;
}

label {
  display: block;
  padding: 8px 0;
}

.sequence-wrapper {
  width: 50%;
  float: left;
  padding: 12px;
}

.chars-left {
  margin-top: 8px;
  font-size: 12px;
}

.sequence-cntr {
  overflow: hidden;
}

.sequence-cntr .sequence-wrapper:first-child {
  padding-left: 0;
}

.sequence-cntr .sequence-wrapper:last-child {
  padding-right: 0;
}

.sequence-wrapper label {
  font-size: 18px;
}

.sequence-wrapper input {
  width: 100%;
  font-size: 30px;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #c0c2c7;
  padding: 0 0 4px 0;
}

.sequence-wrapper .ui-inputtext:focus {
  box-shadow: none;
}

.align-wrapper {
  float: right;
  width: 300px;
}

.align-wrapper .ui-widget.ui-button {
  width: 40%;
  margin: 0 5%;
  height: 42px;
  float: right;
}

.align-wrapper .ui-widget.ui-button:first-child {
  margin-right: 0;
} 

/*
.align-wrapper .ui-widget.ui-button:enabled:hover {
  opacity: 1;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}*/

.more-options {
  padding: 0;
}

fieldset.more-options {
  margin: 0 0 20px 0;
  border: none;
  padding-bottom: 12px;
  margin-top: 16px;
}

.more-options legend {
  border: none;
}

.more-options .ui-fieldset-legend a {
  text-decoration: none;
  padding: 8px 0;
}

.option {
  float: left;
  padding-right: 50px;
}

.fieldset-inner {
  padding: 0 18px 0 18px;
}
