<div class="user-input-cntr">
  <div class="sequence-cntr">
    <div class="sequence-wrapper">
      <label for="sequence1">Sequence 1</label>
      <input id="sequence1" [(ngModel)]="userInput.sequence1" [maxLength]="maxSequenceLength"
      (keyup)="seq1InputChange()">
      <div class="chars-left">
        {{ seq1CharsUsed }} / {{ maxSequenceLength }} chars
      </div>
    </div>
    <div class="sequence-wrapper">
      <label for="sequence2">Sequence 2</label>
      <input id="sequence2" [(ngModel)]="userInput.sequence2" [maxLength]="maxSequenceLength" (keyup)="seq2InputChange()">
      <div class="chars-left">
        {{ seq2CharsUsed }} / {{ maxSequenceLength }} chars
      </div>
    </div>
  </div>

  <!--<p-fieldset legend="Additional Options" [toggleable]="true" [collapsed]="true" styleClass="more-options">
    <div class="fieldset-inner">
      <div class="option">
        <label for="alignmentType">Alignment Type</label>
        <p-dropdown id="alignmentType" [options]="alignmentOptions" [(ngModel)]="userInput.alignmentType"></p-dropdown>
      </div>
      <div class="option">
        <label for="sequenceMatch">Sequence Match</label>
        <input id="sequenceMatch" type="number" pInputText [(ngModel)]="userInput.seqMatch">
      </div>
      <div class="option">
        <label for="sequenceMismatch">Sequence Mismatch</label>
        <input id="sequenceMismatch" type="number" pInputText [(ngModel)]="userInput.seqMismatch">
      </div>
      <div class="option">
        <label for="gapPenalty">Gap Penalty</label>
        <input id="gapPenalty" type="number" pInputText [(ngModel)]="userInput.gapPenalty">
      </div>
      <div class="option">
        <label for="bandedMin">Banded Minimum</label>
        <input id="bandedMin" type="number" pInputText [(ngModel)]="userInput.bandedAlignmentMax">
      </div>
    </div>

  </p-fieldset>-->

  <div class="align-wrapper">
    <button type="button" label="Align" (click)="onAlignSequences()"></button>
    <button type="button" label="Reset" (click)="onReset()" class="ui-button-secondary"></button>
  </div>

</div>
