.visualizer-cntr{
    padding: 20px;
    overflow: hidden;
}

.score-cntr {
    font-size: 24px;
}

.matrix-element {
    float: left;
    border: 1px solid #c0c2c7;
    padding: 20px 0;
    text-align: center;
}

.matrix-element.start-value {
    clear: left;
    text-align: right;
    font-style: italic;
    font-weight: bold;
    padding-right: 16px;
}

.matrix-element.sequence-value {
    border: none;
}

.matrix-element.sequence-value.first-row {
    height: auto;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 16px;
}

.matrix-element.in-alignment {
    background-color: #336E7B;
    border: 1px solid #336E7B;
    color: #fff;
}
