<div class="visualizer-cntr">
  <div class="section-title">
    Scoring Info
  </div>
  <div class="banded-failed" *ngIf="!vd.bandedSuccess">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    Banded minimum was too low to complete the algorithm (see matrix below)
  </div>
  <div class="card score-cntr">
    <div class="card-stripe">
      <i class="fa fa-ravelry" aria-hidden="true"></i>
    </div>
    <div class="card-content">
      <div class="value">{{ vd.score }}</div>
      <div class="text">Edit Distance</div>
    </div>
  </div>
  <div class="card final-alignment-cntr">
    <div class="card-stripe">
      <i class="fa fa-share-alt" aria-hidden="true"></i>
    </div>
    <div class="card-content">
      <div class="final-alignment">
        <div class="final-alignment-label">Sequence 1</div>
        <div class="final-alignment-value">{{ vd.seq1Final }}</div>
      </div>
      <div class="final-alignment">
        <div class="final-alignment-label">Sequence 2</div>
        <div class="final-alignment-value">{{ vd.seq2Final }}</div>
      </div>
    </div>
  </div>
  <div class="matrix-cntr">
    <div class="section-title">
      Scoring Matrix
    </div>
    <div class="matrix-element" [style.width]="vd.matrixElementWidth" [ngClass]="me.styleClass" *ngFor="let me of vd.alignmentMatrix">
      {{ me.value }}
    </div>
  </div>
</div>
