@import "../../../color-palette.scss";

.visualizer-cntr {
  overflow: hidden;
  margin-top: 72px;
  margin-bottom: 82px;
}

.section-title {
  border-bottom: 1px solid #c0c2c7;
  padding-bottom: 4px;
  margin-bottom: 40px;
  font-size: 20px;
}

.card {
  border: 1px solid #c0c2c7;
  height: 200px;
  box-shadow: 1px 1px 5px 0px rgba(192, 194, 199, 1);
  position: relative;
  float: left;
}

.score-cntr {
  width: 27%;
  margin-right: 3%;
}

.card-stripe {
  float: left;
  height: 100%;
  background-color: $primary-blue;
  width: 50px;
  position: absolute;
  text-align: center;
}

.card-content {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 36px;
  padding-left: 50px;
}

.card-content .value {
  font-size: 70px;
}

.card-content .text {
  font-size: 20px;
}

.card-stripe i {
  font-size: 26px;
  padding: 14px 0;
  color: #fff;
}

.final-alignment-cntr {
  width: 70%;
}

.final-alignment-cntr .card-content {
  padding-top: 24px;
}

.final-alignment {
  text-align: left;
  padding-bottom: 26px;
  padding-left: 16px;
}

.final-alignment-value {
  font-size: 40px;
  letter-spacing: 10px;
  font-family: "Inconsolata", monospace;
}

.final-alignment-label {
  font-size: 14px;
}

.matrix-cntr {
  overflow: hidden;
  clear: left;
  padding-top: 70px;
}

.matrix-element {
  float: left;
  border: 1px solid #c0c2c7;
  padding: 20px 0;
  text-align: center;
}

.matrix-element.start-value {
  clear: left;
  text-align: right;
  font-style: italic;
  font-weight: bold;
  padding-right: 16px;
}

.matrix-element.sequence-value {
  border: none;
}

.matrix-element.sequence-value.first-row {
  height: auto;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 16px;
}

.matrix-element.in-alignment {
  background-color: $primary-blue;
  border: 1px solid $primary-blue;
  color: #fff;
}

.banded-failed {
  font-size: 20px;
  border: 1px solid red;
  background-color: #ffe6e6;
  border-radius: 4px;
  margin-bottom: 36px;
  padding: 8px;
}

.banded-failed i {
    color: #dc2e28;
}
