.wrapper {
    overflow: hidden;
}

.snack-cntr {
    float: left;
}

.wrapper .snack-cntr:first-child {
    padding-right: 30px;
}

label {
    display: block;
    font-size: 12px;
}

span {
    font-size: 30px;
}
