<div class="footer">
  <div class="footer-item">
    <a href="https://en.wikipedia.org/wiki/Sequence_alignment" target="_blank">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      <span>Info</span>
    </a>
  </div>
  <div class="footer-item">
    <a href="https://github.com/thegodfather904/bio-pairwise-alignment" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
      <span>Code</span>
    </a>
  </div>
  <div class="footer-item">
    <a href="mailto:sequencealignmentvisualizer@gmail.com">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <span>Contact</span>
    </a>
  </div>


</div>
